accountprocessapi/src/main/mule/accountprocessapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="614575bd-2537-41cf-8b2f-db2e6c3d31df" >
		<http:listener-connection host="0.0.0.0" port="8093" />
	</http:listener-config>
	<http:request-config name="Member_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="392843a3-bd34-45a1-994e-01ba184394bd" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<http:request-config name="MemberAddress_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="078859d6-6e0c-4ba2-a663-f0886007915c" >
		<http:request-connection host="localhost" port="8090" />
	</http:request-config>
	<http:request-config name="Address_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e31e33f2-6ecc-4ffe-9af7-9c9f04353871" >
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
	<http:request-config name="Contact_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="40ce2489-3a8f-49c7-8e48-663dbdf7850c" >
		<http:request-connection host="localhost" port="8084" />
	</http:request-config>
	<http:request-config name="member_contact_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b2cb88e1-98cb-439d-9ac9-84912d5b0cf1" >
		<http:request-connection host="localhost" port="8091" />
	</http:request-config>
	<flow name="accountprocessapiFlow" doc:id="d7e7a1d0-0734-4bac-a290-80913e1ab6c2" >
		<http:listener doc:name="Listener" doc:id="f634ff38-7efa-4a10-971c-2528ebf40785" config-ref="HTTP_Listener_config" path="/processaccount/{member_id}"/>
		<set-variable value="#[attributes.uriParams.'member_id']" doc:name="Set member_id Variable" doc:id="83475d58-93b9-4462-9e71-0c9e749a2a3f" variableName="member_id"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="0a3f0ae1-cca0-4599-ac4e-2d320932df62" >
			<route >
				<flow-ref doc:name="member" doc:id="73f0ec28-8421-41f8-9866-77ec9fb956bd" name="get_member_info_subflow"/>
			</route>
			<route >
				<flow-ref doc:name="address_flow_reference" doc:id="ca3d69a6-4de0-4b99-8475-40aba3c67d53" name="get_member_address" />
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="093f202b-3bc9-43cb-8aac-27f92d0bf1b8" name="get_member_contact"/>
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="66c468ae-6d58-4a22-94ef-7db805967b21" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="fd9a7563-11ab-4d2f-b9cf-acd022ac8422" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get_member_info_subflow" doc:id="4ba461b0-b83c-4843-97d1-23e97a3510f2" initialState="started">
		<http:request method="GET" doc:name="Request" doc:id="1f82bdac-0ecf-4601-a3cd-23a9aebf9a4c" config-ref="Member_HTTP_Request_configuration" path="/api/member/{member_id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"member_id" : vars.member_id
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get_member_address" doc:id="68eb2f8f-27ed-4e3f-ba1e-7c80bf30f6ba" >
		<http:request method="GET" doc:name="Request" doc:id="750ab8b0-3708-4656-9756-68d20dc33519" config-ref="MemberAddress_HTTP_Request_configuration" path="/api/member_address/{member_id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"member_id" : vars.member_id
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[payload[0].address_id]" doc:name="Set Variable" doc:id="69573a30-2aec-4a36-947b-aa8fcb64ee6b" variableName="address_id"/>
		<http:request method="GET" doc:name="Request" doc:id="57baeb43-9694-411a-bc9a-b9d4574caa03" config-ref="Address_HTTP_Request_configuration" path="/api/address/{address_id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"address_id" : vars.address_id
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get_member_contact" doc:id="c6698555-6ce2-4b7f-b6e3-af12425dd8bd" >
		<http:request method="GET" doc:name="Request" doc:id="f72fae9e-725f-4c98-a9a3-c1700008541e" config-ref="member_contact_HTTP_Request_configuration" path="/api/member_contact/{member_id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"member_id" : vars.member_id
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[payload[0].contact_id]" doc:name="Set contact_id" doc:id="be9334ed-20cd-4abd-9ed9-a8e17013b67d" variableName="contact_id"/>
		<http:request method="GET" doc:name="Request" doc:id="ef2fcea8-625a-4cd7-bb64-bea51e96b6c6" config-ref="Contact_HTTP_Request_configuration" path="/api/contact/{contact_id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"contact_id" : vars.contact_id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
