contactapi/src/main/mule/implementation .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="88311098-758a-4f3a-a4ea-6c43d15322d4" >
		<db:mssql-connection host="DESKTOP-BSJOOPT" user="sa" password="Anirudh16" databaseName="contactsDB" />
	</db:config>
	<flow name="get_all_contacts_flow" doc:id="94785223-c03f-440b-9b2d-1b42e3fd1b9e" >
		<db:select doc:name="Select" doc:id="2fe42fcb-cb08-4408-81e0-679575c118e5" config-ref="Database_Config">
			<db:sql >Select * from contact</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="92fc2524-4066-41d8-a00d-323edd2d7adf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	
	id : $.CONTACT_ID,
	'type':$.TYPE,
	value:$.VALUE,
	preferred:$.PREFERRED
		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get_contacts_by_id_flow" doc:id="1b672f44-63e0-4b85-bf1a-d6a120ec17bb" >
		<db:select doc:name="Select" doc:id="9078792f-873f-4820-abc6-b408502363df" config-ref="Database_Config">
			<db:sql >select * from dbo.contact where contact_id = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="12e022d9-8dfc-45e9-85df-d22e5cd9a24d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	
	id : $.CONTACT_ID,
	'type':$.TYPE,
	value:$.VALUE,
	preferred:$.PREFERRED
		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<flow name="post_add_new_contact_flow" doc:id="af09e63e-8ddf-4e87-8f72-4110ed795ea2" >
		<db:insert doc:name="insert" doc:id="b915323e-4fd7-4df0-ad38-6725d2f3e2be" config-ref="Database_Config" target="result" targetValue="#[message]" autoGenerateKeys="true">
			<db:sql >INSERT INTO [dbo].[CONTACT](TYPE,VALUE,PREFERRED)VALUES(:type,:value,:preferred)</db:sql>
			<db:input-parameters ><![CDATA[#[{'type':payload.'type','value':payload.value,'preferred':payload.preferred}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="6d403f14-300c-4387-befe-8e98a56cc712" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 	id : vars.result.payload.generatedKeys[0],
	 'type' : payload.'type',
	 value : payload.value,
	 preferred: payload.preferred
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<flow name="patch_update_contact_flow" doc:id="71b31005-d0a1-44b3-9544-667903893afc" >
		<db:update doc:name="update" doc:id="c71d2b31-effd-4f98-b302-f1828dbd00dc" config-ref="Database_Config" target="result" targetValue="#[message]">
			<db:sql >UPDATE [dbo].[CONTACT]
SET 
	TYPE = :type,
	VALUE = :value,
	PREFERRED = :preferred
WHERE CONTACT_ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID':payload.id,'type':payload.'type','value':payload.value,'preferred':payload.preferred}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="7de8b470-b9d3-47cd-9ca4-6d5ae00a96e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<flow name="delete_contact_flow" doc:id="fee91092-117d-40da-a1ab-215d680b1b51" >
		<db:delete doc:name="delete" doc:id="a6f23ad4-8bba-4a78-8086-7899c0fee6e7" config-ref="Database_Config">
			<db:sql >DELETE FROM CONTACT WHERE CONTACT_ID =:ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="ba772d34-48d2-4159-9605-ead36f7d4543" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Deleted contact successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	
</mule>
