accountapi/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a6e59261-1d2c-4d4f-871b-dead2f026f82" basePath="/processaccount" >
		<http:request-connection host="localhost" port="8093" />
	</http:request-config>
	<flow name="account_information_flow" doc:id="61d3b192-9f4c-4e8c-9e35-6ac33b26dd30" >
		<set-variable value="#[attributes.uriParams.ID]" doc:name="Set member id" doc:id="2a8ddbfa-b583-4ea8-9882-a898cec92944" variableName="member_id"/>
		<logger level="INFO" doc:name="Logger" doc:id="bcebd001-4591-4c9a-9cd4-9dfb82adeaa4" message="#[vars.member_id]"/>
		<http:request method="GET" doc:name="Request" doc:id="345d67e1-1dc5-418b-8288-9a94dce5cd97" config-ref="HTTP_Request_configuration" path="/{member_id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"member_id" : vars.member_id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
